name: BuildOnly

on:
  push:
    branches-ignore:
      - main

jobs:
  windows-latest:
    name: windows-latest
    runs-on: windows-latest

    env:
      CI: true   # Enables conditional TFMs in test projects if you choose to use them

    steps:
      # -----------------------------
      # Checkout
      # -----------------------------
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # -----------------------------
      # Install .NET SDKs (8, 9, 10)
      # Only 8.0 has a runtime on GitHub runners
      # -----------------------------
      - name: Setup .NET (With cache)
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
          dotnet-quality: 'preview'
          cache: true
          cache-dependency-path: |
            **/Directory.Packages.props
            **/*.sln
            **/*.csproj
            **/global.json
            **/nuget.config

      # -----------------------------
      # Cache NUKE temp + NuGet
      # -----------------------------
      - name: Cache NUKE + NuGet
        uses: actions/cache@v5
        with:
          path: |
            .nuke/temp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('**/global.json', '**/*.csproj', '**/Directory.Packages.props') }}

      # -----------------------------
      # NUKE Build
      # -----------------------------
      - name: Run NUKE Compile
        run: ./build.cmd Compile

      # -----------------------------
      # Test + Coverage (net8 only)
      # -----------------------------
      # - name: Test with Microsoft Code Coverage (net8 only)
      #   run: |
      #     dotnet tool install --global dotnet-coverage
      #     dotnet-coverage collect `
      #       "dotnet test src/S7PlcRx.Tests/S7PlcRx.Tests.csproj -f net8.0 --no-build --configuration Release" `
      #       -f cobertura `
      #       -o coverage.cobertura.xml

      # -----------------------------
      # Upload coverage artifact
      # -----------------------------
      # - name: Upload coverage artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-report
      #     path: coverage.cobertura.xml

      # -----------------------------
      # Publish coverage summary
      # # -----------------------------
      # - name: Publish coverage summary
      #   uses: irongut/CodeCoverageSummary@v1.3.0
      #   with:
      #     filename: coverage.cobertura.xml
      #     badge: true
      #     format: markdown
      #     output: both
